scikit-learn==1.5.1
scipy==1.13.1
numpy==1.26.4
nltk==3.9.1
rarfile==4.2
chardet==5.2.0
joblib==1.4.2
tqdm==4.66.5
regex==2024.7.24
torch==2.4.1
sentence-transformers==2.7.0
tokenizers==0.22.1
datasets==2.19.0
